* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 兼容IE6, IE7 */
    *zoom: 1
}

a {
    text-decoration: none;
}
